/* General Reset for Margins and Padding */
body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
	display: block;
}

/* Navigation Bar */
#navigation {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

/* Bottom Container */
#bottom {
    color: red;
	display: flex;
}

/* Data Change Section */
#dataChange {
    background-color: red; /* Yellow */
    padding: 10px;
    flex: 1; /* Responsive width */
    border: 1px solid #ccc;
    width: 50%;
    max-width: 220px;
}


.insert {
    background-color: lightblue;
    width: 100%;
}
/* Container for each row */
.form-row {
    display: flex; /* Makes each row a flex container */
    justify-content: space-between;
    margin: 10px 0;
}

/* Label Styling */
.insertLabel {
    color: black;
    width: 150px;
}

/* Input Field Styling */
.insertBox {
    background-color: lime;
    text-align: right;
    border-radius: 4px;
    width: 50%;
    max-width: 100%; /* Đảm bảo không vượt quá khung */
    box-sizing: border-box; /* Tính cả padding và border vào tổng width */
}
.budget {
    background-color: #C8E6C9; /* Light Green */
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}

/* Data Analyze Section */
#dataAnalyze {
    background-color: #BBDEFB; /* Light Blue */
    padding: 10px;
    flex: 2;
    border: 1px solid #ccc;
}

.filter {
    background-color: orange; /* Light Purple */
    padding: 10px;
    margin: 5px 0;
}

.header {
    background-color: #FFE0B2; /* Light Orange */
    padding: 10px;
    margin: 5px 0;
}

.content {
    background-color: #B3E5FC; /* Light Cyan */
    padding: 10px;
    margin: 5px 0;
}

.totalSummary {
    background-color: #D7CCC8; /* Light Brown */
    padding: 10px;
    margin: 5px 0;
}

/* Graph Section */
#graph {
    background-color: #F8BBD0; /* Light Pink */
    padding: 10px;
    text-align: center;
    flex: 1; /* Responsive width */
    border: 1px solid #ccc;
}
