/* General Reset for Margins and Padding */
body, div {
    background-color: Blue;
}

/* Navigation Bar */
#navigation {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* Bottom Container */
#bottom {
    color: red;
}


